<head>
   

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

   
</head>
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4">Trouvez <span class="text-primary">l'Expérience de Camping</span> Parfaite</h1>
            <p class="animated fadeIn mb-4 pb-2">Découvrez des campings uniques et vivez des aventures inoubliables en pleine nature. Réservez facilement et profitez d’une expérience authentique avec Camptun.</p>
            <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Explorer</a>
        </div>
        <div class="col-md-6 animated fadeIn">
            <div class="owl-carousel header-carousel">
                <div class="owl-carousel-item">
                    <img src="img/c3.png" alt="Camping en pleine nature">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="img/c5.webp" alt="Expérience de camping">
                </div>
            </div>
        </div>
    </div>
</div>
